@function color($color, $map: $colors) {
  @return map-get($map, $color);
}

$colors: (

  black: #000000,
  white: #ffffff,

  grey1: #F6F6F6,
  grey2: #BDBDBD,
  grey3: #999999,
  grey4: #4F4F4F,

  green1: #C8E6C9,
  green2: #8BC34A,
  green3: #4CAF50,
  green4: #388E3C,
  green5: #5B7F30,

  yellow: #FFCC00,

  orange1: #FF9900,
  orange2: orange,

  red: #FF6767,

  blue: #56B4FF,

  /* blue color scheme*/

  cerulean: #0090d7,
  jordy-blue: #7ec9f1,
  regal-blue: #004f76,
  boulder:#777777,
  tundora: #4A4A4A,
  dove-grey: #6B6B6B,
  
  /* red color scheme */

  alizarin-crimson: #e62336,
  shiraz: #B00835,
  mandy: #EA5167,
  vanilla: #E5D1A2,
  gray: #878787,
  alto: #CECECE,

  /* yellow color scheme */

  wattle: #D3DA44,
  la-rioja: #A2C617,
  bright-sun: #FFDF43,
  paris-daisy: #FFF374,
  silver-chalice: #B2B2B2,
  silver-chalice-2: #9d9d9d,

  /* turquoise color scheme */

  mountain-meadow: #15AF97,
  teal: #008A83,
  gulf-stream: #76B4AF
);
