.bonjour-container {
    .main-bonjour {
        display: flex;
        width: 60%;
        flex-direction: column;
        background-color: white;
        padding: 8% 6%;
        margin-left: -17.5%;
        // box-shadow: 8px 8px 30px 1.2px rgba(0,0,0,.1);
        p:first-child {
            font-size: 1.5vw;
            font-family: 'Roboto-Bold';
            text-transform: uppercase;
            margin-bottom: 5%;
        }

        p:last-child {
            font-size: 3vw;
        }
        .strong {
            color: color(yellow);
        }
    }

    .sub-bonjour {
        width: 50%;
        background-color: color(yellow);
        padding: 8%;
        margin-top: -4%;
        margin-left: 15%;
        color: color(white2);
        font-size: 1.5vw;
        // box-shadow: 8px 8px 30px 1.2px rgba(0,0,0,.1);
        p:first-child {
            margin-bottom: 8%;
        }
        .strong {
            color: color(grey4);
        }
    }
}
