#main-nav {
    position: relative;
    @include flexAlign(row, center, center);
    width: 5%;
    height: 100vh;
    background-color: color(white3);
    z-index: -1;
    cursor: pointer;
    li {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    &:hover {
        background-color: color(white);
        button {
            span {
                transform: translateX(0);
                opacity: 1;
            }
            &:before, &:after {
                transform: rotate(0deg);
            }

            &:before {
                left: 0;
                top: 3px;
            }

            &:after {
                right: 0;
                top: calc(100% - 6px);
            }
        }
    }
    #close-menu {
        opacity: 1;
        transform: translateY(0);
        left: calc(100% + 16vw);
        z-index: 8;
        top: 5vh;
    }

    #link-container , #black-calc {
        position: absolute;
        height: 100vh;
        left: 100%;
        top: 0;
    } 

    #link-container {
        @include flexAlign(column, flex-start, flex-start);
        width: 36vw;
        background: color(white2);
        z-index: 2;
        cursor: auto;
        overflow: hidden;
        padding-top: 12vh;
        transform: translateX(-100%);
        li {
            width: 100%;
            font-family: 'OpenSans-Bold';
            padding-left: 20%;
            font-size: 4vw;
            text-transform: uppercase;
            letter-spacing: 3px;
            &.external-link {
                font-family: 'Roboto-BlackItalic';
                font-size: 2vw;
                margin-top: 5%;
            }
            &#contact-container {
                position: absolute;
                left: 0;
                bottom: 20vh;
                span {
                    display: inline-block;
                    font-size: 1.4vw;
                    margin-bottom: 4%;
                    border-bottom: 2px solid color(yellow);
                    color: color(grey4);
                }
                li {
                    text-transform: none;
                    padding-left: 0;
                    font-size: 0.7vw;
                    &#phone,
                    &#mail {
                        opacity: 0;
                        transform: translateY(30%);
                    }
                    &:first-child {
                        margin-bottom: 5%;
                    }
                }
            }
            &.link {
                opacity: 0;
                transform: translateX(-60%);
                &:not(:last-child) {
                a {
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                    transition: color .5s;
                    &::after {
                        z-index: -1;
                        content: '';
                        position: absolute;
                        height: 20%;
                        width: 100%;
                        bottom: 10%;
                        left: 0;                    
                        background-color: color(yellow);
                        transform: translateX(-101%);
                        transition: transform .6s cubic-bezier(.73,.59,0,.81);
                    }
                    &:hover {
                        &::after {
                            transform: translateX(0);
                        }
                    }
                }

                &.active {
                    a {
                        color: color(yellow);
                        &::after {
                            background: color(grey4);                     
                        }    
                    }
                }
            }
            }
        }

        a {
            color: color(grey4);
        }


    }

    #black-calc {
        width: calc(100vw - 100%);
        background: color(black);
        opacity: 0;
    }  
}
