#project-template {
    width: 100%;
    height: 100vh;
    cursor: auto;
    .blue-calc {
      height: 100%;
      left: 0;
      transform: translateX(-100%);
      top: 0;
      width: 100%;
    }
    aside {
      @include flexAlign(column, flex-start, center);
      width: 25vw;
      height: 100%;

      #project-description {
        @include flexAlign(column, flex-start, center);
        position: relative;
        width: 100%;
        height: 72%;
        padding: 35% 12% 0 12%;
        background-color: color(white);
        overflow: hidden;
        p { 
            font-size: 1.4vw;
            line-height: 1.6;
            color: color(grey3);
            transform-origin: center top;
            height: 50%;
            span {
                color: color(yellow);
                font-family: 'OpenSans-Bold';
                text-transform: uppercase;
            }
        }

        button {
          align-self: center;
          position: relative;
          margin-top: 25%;
          font-family: 'OpenSans-Regular';
          font-size: 14px;
          background: none;
          border: none;
          padding-left: 12%;
          cursor: pointer;
          margin-left: -5%;
          span {
            position: absolute;
            z-index: 1;
            height: 3.5vh;
            width: 3.5vh;
            left: -5%;
            top: -25%;
            border: 1px solid color(yellow);
            opacity: 0;
            transition: opacity .6s cubic-bezier(0,1,.06,.93);
          }
          &:before, 
          &:after {
            z-index:2;
            transition: all .6s cubic-bezier(0,1,.06,.93);
          }
          &:before {
            position: absolute;
            content: '';
            height: 2px;
            top: 52%;
            left: 0;
            width: 15%;
            background-color: color(yellow);
            transform: rotate(90deg);
          } 
          &:after {
            position: absolute;
            content: '';
            height: 2px;
            top: 52%;
            left: 0;
            width: 15%;
            background-color: color(yellow);
          }
          &:hover {
            span {
              opacity: 1;
            }
            &:before, 
            &:after {
              background-color: color(grey3);
            }
            &:before {
              transform: rotate(270deg);
              transition: all .6s cubic-bezier(.22,.81,0,.79) .1s;
            }
            &:after {
              transform: rotate(180deg);
              transition: all .5s cubic-bezier(.22,.81,0,.79);
            }
          } 
        }

        a {
          @include flexAlign(row,center, center);
          position: relative;
          align-self: center;
          display: inline-block;
          margin-top: 25%;
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          font-size: 14px;
          border: 1px solid color(yellow);
          padding: 5% 10%;
          overflow: hidden;
          text-transform: uppercase;
          font-family: 'Roboto-Bold'; 
          color: color(grey3);
          &::before {
            @include flexAlign(row,center, center);
            content: attr(data-hover);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: translateY(100%);  
            transition: transform .4s;
          }
          span {
            height: 100%;
            width: 100%;
            @include flexAlign(row, center, center);
            transform: translateY(0);
            transition: transform .5s cubic-bezier(0,.6,.13,.82) .1s;
          }

          &:hover {
            span {
              transform: translateY(-200%);
              transition: transform .4s cubic-bezier(0,.6,.13,.82);
            }
            &::before {
              transform: translateY(0);
              transition: transform .4s cubic-bezier(0,.6,.13,.82) .1s;
            }
          }
        }
      }
    }

    #project-nav-container {
      position: relative;
      @include flexAlign(column, center, center);
      width: 25vw;
      height: 20%;
      overflow: hidden;
      padding: 0 0 10% 0;
      cursor: auto;
      // background-color: color(white3);
      p {
        align-self: center;
        position: relative;
        font-family: 'OpenSans-Regular';
        font-size: 14px;
        background: none;
        border: none;
        margin-bottom: 12%;
        padding-bottom: 4px;
        border-bottom: 1px dashed color(yellow);
        // &:before {
        //   position: absolute;
        //   content: '';
        //   height: 1px;
        //   top: 52%;
        //   left: 0;
        //   width: 5%;
        //   background-color: color(yellow);
        // } 
      }

      div {
        @include flexAlign(row, space-evenly, center);
        width: 100%;
        button {
          position: relative;
          border: 1px solid color(yellow);
          width: 80px;
          height: 48px;
          cursor: pointer;
          border-radius: 0;
          &:first-child {
            background: #1fa2ff; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #4776E6, #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #4776E6, #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          }

          &:last-child {
           background: #1fa2ff; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #4776E6, #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #4776E6, #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
          }

          &:before, &:after {
            content: '';
            position: absolute;
            width: 20%;
            height: 2px;
            top: calc(50% - 1px);
            left: 40%;
            background: color(yellow);
            transform-origin: left center;
            transition: all .3s;
            }
            &:before {
              transform: rotate(-40deg) scale(.8);
            }
            &:after {
              transform: rotate(40deg) scale(.8);
            }
            &:last-child {
              &:before, &:after {
                transform-origin: right center;
              }
            }
          &:hover {
            &:before {
              transform: rotate(-40deg) scale(1.2);
            }
            &:after {
              transform: rotate(40deg) scale(1.2);
            }
          }  
        }
      }
    }  
}
