#project-detail-container {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    h2 {
        position: absolute;
        font-size: 7vw;
        top: 1%;
        left: 6%;
        z-index: 2;
        color: color(grey3);
        text-transform: uppercase;
        overflow: hidden;
        span {
        display: block;
        transform: translateY(100%);
      }
    }

    #close-detail {
        right: 10.2%;
    }

    #background-container {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index:1;
        .background-part {
            align-self: center;
            width: 25%;
            height: 100%;
            background-color: rgba(255,255,255,0.95);
            transform: scaleX(0);
            transform-origin: center left;
            &:not(:last-child) {
                border-right: 1px solid color(grey1); 
            }

            &:last-child {
                position: relative;
                width: 50%;
                &:after {
                    position: absolute;
                    top: 0;
                    left: calc(50%);
                    width: 1px;
                    height: 100%;
                    background-color: color(grey1); 
                    content:'';
                    opacity: 0;
                }
                &.active {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .detail-row {
        position: relative;
        display: flex;
        width: 100vw;
        z-index: 2;
        margin-top: 10%;
        img {
            align-self: center;
            width: 5%;
            opacity: 0;
        }
        div {
            p {
                margin: 15px 0;
                font-size: 20px;
                font-weight: bold;
            }
            li {
                font-size: 14px;
                font-style: italic;
            }
        }
    }

    #part-1 {
        margin-top: 20%;
        opacity: 0;
        transform: translateY(30%);
        img {
            width: 50%;
            margin-left: 25%;
        }
        div { 
            border-top: 2px solid color(yellow);
            width: 13.3%;
            align-self: flex-end;
            margin-bottom: 3%;
            padding: 0 0 0 1%;
        }
    }

    #part-2 {
        img {
            width: 40%;
        }

        div {
            position: relative;
            align-self: center;
            width: 25%;
            margin-left: 4.7%;
            padding: 0 5% 0 5%;

            &:after {
                content: '';
                position: absolute;
                height: 100%;
                width: 2px;
                background-color: color(yellow);
                top: 5%;
                left: 0;
            }
        }
    }

    #part-3 {
        margin-bottom: 15%;
        img {
            width: 25%;
            margin-left: 25%;
        }

        div {
            position: relative;
            align-self: flex-end;
            width: 25%;
            padding: 0 0 0 2%;
            
            &:after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: color(yellow);
                top: 0;
                left: 0;
            }
            a {
              display: block;
              position: relative;
              width: 54%;
              margin-top: 20%;
              margin-left: 46%;
              transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
              font-size: 14px;
              border: 1px solid color(yellow);
              padding: 5% 10%;
              overflow: hidden;
              text-transform: uppercase;
              font-family: 'Roboto-Bold'; 
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transform: translateY(102%);  
                transition: all .7s;
                transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
                background: #1fa2ff; /* fallback for old browsers */
                background: -webkit-linear-gradient(to left, #4776E6, #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to left, #4776E6, #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
              }
              span {
                position: relative;
                display: block;
                -webkit-text-fill-color: color(grey3bis);
                text-fill-color: color(yellow);
                &::after {
                  content: attr(data-hover);
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 0;
                  overflow: hidden;
                  white-space: nowrap;
                  -webkit-text-fill-color: color(white);
                  text-fill-color: color(yellow);
                  -webkit-text-stroke: 0;
                  text-stroke: 0;
                  color: color(yellow);
                  transition: all .7s;
                  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
                }
              }

              &:hover {
                span {
                  &::after {
                    width: 100%;
                  }
                }
                &::before {
                  transform: translateY(0);
                }
              }
            }
        }
    }
}
